
ul {
  list-style-type: none;
justify-content: center;
  margin-top: 4px;
  li
  {
    margin-top: 7px;
  }
}

.names
{
  text-align: center;
  padding: 3%;
  width: auto;
  font-size: larger;
}
countdown
{

  float: right;
  text-align: center;
  font-size: larger;
}
.next-btn
{
  margin-left: 15%;
}
