/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
justify-content: center;
display: flex;
align-items: center;
margin: auto;
padding: 10%;
}
